.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; 
}
.board-square{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.box{
    font-size: 6em;
    border: 1px solid rgba(245, 245, 245, 0.89);
    box-shadow:0px 0px 2px rgba(204, 204, 204, 0.644);
    border-radius: 10%;
    width: 8.5rem;
    height: 8.5rem;
    text-align: center;
    font-weight: 900;
    line-height: 0;
    font-family: var(--font-mochi);
    color:white;
}
.x {
    background-color:var(--red-color) 
   
}
.o{
  
    background-color:var(--yellow-color) ;
}
.default{
    background-color: var(--default-color);
}
.box:hover{
    box-shadow:0px 0px 15px #888;
}
.board-action{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.board-action button{  
    margin: 20px 0;
    width: 8.5rem;
    border-radius: 10px;
    color:white;
    font-size: 1.1rem;
    padding: 0.5rem ;
    font-family:var(--font-nunito);
    box-shadow:0px 0px 5px rgba(9, 20, 71, 0.301);
}
.board-action .reset-btn{
    background-color: var(--dark-blue-color);
}
.board-action .prev-btn{
    background-color: rgb(2, 150, 69); 
}

.board-action .reset-btn:hover{
    color: rgb(0, 95, 173); 
    background-color: var(--light-btn-back)
}
.board-action .prev-btn:hover{
    color: rgb(0, 136, 91); 
    background-color: var(--light-btn-back)  
}
.modal{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--yellow-color);
    font-family: var(--font-mochi);
    text-align: center;
    font-size: 2.5em;
    z-index: 10;
    background-color: rgba(225, 240, 255, 0.89);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.modal .container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color:rgb(4, 56, 124)
}
.modal button{
    font-family: var(--font-nunito);
    background-color:rgba(255, 255, 255, 0.966);
    border: 1px solid rgb(196, 196, 196);
    color:rgb(122, 122, 122) ;
    font-weight: 700;
    font-size: 0.4em;
    box-shadow:0px 0px 5px rgba(88, 88, 88, 0.178);
    height: 30px;
    border-radius: 10px;
    
  }
  .modal button:hover{
    background-color:rgb(4, 56, 124) ;
    color: rgba(255, 255, 255, 0.966);
  }
  
@media screen and (min-width: 900px) {
    .main{
        flex-direction: row;
        justify-content: space-evenly;
    }
}
@media screen and (max-width: 900px) {
    .board-action button{  
        margin: 40px 0;
    }
    .box{
        font-size: 4.5em;
        width: 6rem;
        height: 6rem;
    }
}

@media screen and (max-width: 500px) {
    .board-square{
        gap: 6px;
    }
      .board-action{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top:30px;
    }
    .board-action button{  
        margin: 15px 0 0 0 ;
        width: 7rem;
        font-size: 0.8rem;
    }
    .modal{
        font-size: 2em;
    }
}
@media screen and (max-width: 420px) {
    .box{
        font-size: 3.5em;
        width: 4.5rem;
        height: 4.5rem;
    }
}
@media screen and (max-width: 320px) {
    .box{
        font-size: 2.5em;
        width: 4rem;
        height: 4rem;
    }    
}