.App{
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    min-height: 100vh; 
}
@media screen and (min-width: 900px) {
    .App{
        flex-direction: row;
        justify-content: space-evenly;
    }
}